<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<h2>
		<wicket:message key="dashboard.notification.title" />
	</h2>
	<div wicket:id="dayList" class="artifact-notification-day">
		<div class="day">
			<wicket:container wicket:id="day" />
		</div>
		<div wicket:id="notificationList" class="artifact-notification">
			<div class="row-fluid">
				<div class="span7 artifact">
					<a wicket:id="artifactLink"><wicket:container wicket:id="id"></wicket:container></a>
				</div>
				<div class="span3" wicket:id="version" />
				<div class="span2 version-link">
					<wicket:container wicket:id="links" />
				</div>
			</div>
		</div>
	</div>
	<div wicket:id="emptyList"><wicket:message key="common.emptyList" /></div>
</wicket:panel>
</html>