<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<div class="auth-section classic-auth">
		<!-- Classic authentication form -->
		<form wicket:id="signInForm" class="form-inline identification-form clearfix">
			<div class="identification-form-content">
				<div class="input-append">
					<input wicket:id="userName" type="email" id="username" class="input-large" required />
					<input wicket:id="password" type="password" id="password" class="input-small input-sandwich" required />
					<button class="btn btn-primary" type="submit">
						<i class="icon-white icon-lock"></i>
						<wicket:message key="home.identification.classic.signIn" />
					</button>
				</div>
				
				<p class="info">
					<wicket:message key="home.identification.classic.register.noAccount" />
					<a wicket:id="classicRegisterLink"><wicket:message key="home.identification.classic.register.link" /></a>
				</p>
				<p class="info">
					<wicket:message key="home.identification.classic.forgottenPassword" />
					<a wicket:id="forgottenPasswordLink"><wicket:message key="home.identification.classic.forgottenPassword.link" /></a>
				</p>
			</div>
			<h2><wicket:message key="home.identification.classic.title" /></h2>
		</form>
	</div>
	
	<div class="auth-section openid-auth">
		<!-- Google authentication form -->
		<form wicket:id="googleOpenIdForm" class="form-inline identification-form clearfix" method="post" target="_top">
			<div class="identification-form-content">
				<button class="btn btn-primary pull-right" type="submit">
					<i class="icon-white icon-chevron-right" />
					<wicket:message key="home.identification.google.signIn" />
				</button>
			</div>
			<h2>
				<img class="icon" src="static/application/icons/google-icon.png" width="24" height="24" alt="Google" />
				<wicket:message key="home.identification.google.title" />
			</h2>
		</form>
		
		<!-- Twitter authentication form -->
		<form class="form-inline identification-form clearfix" method="post" target="_top">
			<div class="identification-form-content">
				<button wicket:id="twitterLink" class="btn btn-primary pull-right" type="submit">
					<i class="icon-white icon-chevron-right" />
					<wicket:message key="home.identification.twitter.signIn" />
				</button>
			</div>
			<h2>
				<img class="icon" src="static/application/icons/twitter-icon.png" width="24" height="24" alt="Twitter" />
				<wicket:message key="home.identification.twitter.title" />
			</h2>
		</form>
		
		<!-- Github authentication form -->
		<form class="form-inline identification-form clearfix" method="post" target="_top">
			<div class="identification-form-content">
				<button wicket:id="gitHubLink" class="btn btn-primary pull-right" type="submit">
					<i class="icon-white icon-chevron-right" />
					<wicket:message key="home.identification.gitHub.signIn" />
				</button>
			</div>
			<h2>
				<img class="icon" src="static/application/icons/github-icon.png" width="24" height="24" alt="GitHub" />
				<wicket:message key="home.identification.gitHub.title" />
			</h2>
		</form>
	</div>
</wicket:panel>
</html>