<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
	<wicket:panel>
		<body wicket:id="root">
			<p wicket:id="unmaintained" style="margin-top: 0;">
				<wicket:message key="notification.panel.unmaintained" />
			</p>
			<div wicket:id="mainContainer">
				<h1 wicket:id="mainTitle">
					<wicket:message key="common.rootPageTitle" />
				</h1>

				<wicket:child />

				<div wicket:id="footer">
					<a wicket:id="aboutLink"><wicket:message key="notification.panel.links.about" /></a>
				</div>
			</div>
		</body>
	</wicket:panel>
</html>
