<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd" wicket:id="htmlRootElement">
	<head>
		<title wicket:id="headPageTitle"></title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="shortcut icon" href="static/application/icons/favicon.ico" type="image/x-icon" />
		
		<wicket:head />
	</head>
	<body wicket:id="bodyElement">
		<!-- Feedback panel -->
		<div wicket:id="animatedGlobalFeedbackPanel" class="feedback-panel" data-placement="bottom"></div>
		<div class="page-container">
			<!-- Scroll to top -->
			<div wicket:id="scrollToTop" class="scroll-to-top small hidden-xs"></div>
			
			<div class="alert alert-warning" wicket:id="googleWarning"><strong>For people using Google authentication:</strong> we switched to the new OAuth2 API, you need to log in with the Google button, confirm your new account and we will copy automagically your old profile to the new one. If you encounter any problem, feel free to contact us.</div>
			
			<div class="main-content">
				<div class="container-fluid">
					<!-- Site title -->
					<div class="row">
						<div class="site-title">
							<a wicket:id="homePageLink"><wicket:message key="common.rootPageTitle" /></a>
							<div class="social hidden-xs pull-right">
								<a href="https://twitter.com/share" class="twitter-share-button" data-url="https://www.artifact-listener.org/" data-text="Artifact Listener keeps you informed of new releases on Maven Central" data-via="Art_Listener">Tweet</a>
								<div class="g-plusone" data-size="medium" data-href="https://www.artifact-listener.org/"></div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="container-fluid content-container">
					<!-- Main navigation bar -->
					<div class="row">
						<div class="navbar navbar-default">
							<!-- User menu -->
							<div wicket:id="userMenuContainer" class="btn-group user-menu pull-right">
								<a wicket:id="viewProfileLink" wicket:message="title:profile.view.tooltip" class="btn btn-default">
									<span wicket:id="userDisplayName"></span>
								</a>
								<a wicket:id="logoutLink" wicket:message="title:common.logout.tooltip" class="btn btn-default btn-icon-only">
									<span class="fa fa-power-off"></span>
								</a>
							</div>
							
							<!-- Main navigation -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
									data-target="#navbar-main-collapse">
									<span class="sr-only">Navigation</span>
									<span class="fa fa-bars fa-lg"></span>
								</button>
							</div>
							<div id="navbar-main-collapse" class="collapse navbar-collapse">
								<ul class="nav navbar-nav" id="navbar-main-collapse">
									<li wicket:id="mainNav">
										<a wicket:id="navLink">
											<wicket:container wicket:id="navLabel" />
											<span wicket:id="caret" class="caret"></span>
										</a>
										<wicket:enclosure child="dropdownMenu">
										<ul class="dropdown-menu">
											<li wicket:id="dropdownMenu">
												<a wicket:id="subMenuLink"><wicket:container wicket:id="subMenuLabel"></wicket:container></a>
											</li>
										</ul>
										</wicket:enclosure>
									</li>
								</ul>
								
								<!-- Sign in -->
								<wicket:enclosure child="signIn">
									<ul class="nav navbar-nav navbar-right hidden-xs">
										<li>
											<a wicket:id="signIn">
												<wicket:message key="navigation.signIn" />
											</a>
										</li>
									</ul>
								</wicket:enclosure>
							</div>
						</div>
					</div>
					
					<!-- Sign in popover -->
					<div style="display:none;">
						<div wicket:id="identificationPopoverPanel"></div>
					</div>
			
					<!-- Bread crumb -->
					<div class="row" wicket:id="breadCrumb"></div>
					
					<div class="row">
						<wicket:child />
					</div>
					
					<!-- Footer -->
					<div class="row">
						<div wicket:id="footer" class="footer"></div>
					</div>
				</div>
			</div>
		</div>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		<script type="text/javascript">
			(function() {
				var po = document.createElement('script');
				po.type = 'text/javascript';
				po.async = true;
				po.src = 'https://apis.google.com/js/plusone.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(po, s);
			})();
		</script>
	</body>
</html>