<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<form class="form-inline" wicket:id="form">
		<div class="input-append">
			<input type="text" wicket:id="searchInput" wicket:message="placeholder:administration.user.search"/>
			<button wicket:id="submit" class="btn btn-primary" type="submit">
				<i class="icon-filter icon-white"></i>
				<wicket:message key="common.action.filter" />
			</button>
		</div>
	</form>
	<div class="clear"></div>
</wicket:panel>
</html>