<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
	<wicket:panel>
		<h2>
			<wicket:message key="administration.artifact.followers" />
		</h2>
		
		<div class="portfolio">
			<table class="table table-striped table-bordered table-condensed">
				<thead>
					<tr>
						<th width="50%"><wicket:message key="administration.user.field.userName" /></th>
						<th width="45%"><wicket:message key="administration.user.field.fullName" /></th>
						<th width="5%"></th>
					</tr>
				</thead>
				<tbody>
					<tr wicket:id="followers">
						<td>
							<a wicket:id="userLink">
								<span wicket:id="userName" />
							</a>
						</td>
						<td wicket:id="fullName"></td>
						<td class="table-actions">
							<a class="btn btn-xs btn-danger btn-icon-only" wicket:id="deleteLink"
								wicket:message="title:administration.artifact.followers.delete">
								<i class="fa fa-fw fa-trash"></i>
							</a>
						</td>
					</tr>
					<tr class="empty-list" wicket:id="emptyList">
						<td colspan="3"><wicket:message key="administration.artifact.followers.noFollowers" /></td>
					</tr>
				</tbody>
			</table>
			<form wicket:id="addFollowerForm">
				<div class="pull-right">
					<a class="btn btn-success" wicket:id="addFollowerLink">
						<i class="fa fa-fw fa-plus"></i>
						<wicket:message key="administration.artifact.followers.add" />
					</a>
				</div>
				<div class="pull-right" wicket:id="userAutocomplete" style="margin-right: 10px;"></div>
				<div class="clearfix"></div>
			</form>
		</div>
	</wicket:panel>
</html>