<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
	<wicket:extend>
		<table class="table table-striped table-bordered table-condensed">
			<thead>
				<tr>
					<th width="20%"><wicket:message key="administration.usergroup.field.name" /></th>
					<th width="70%"><wicket:message key="administration.usergroup.field.description" /></th>
					<th width="10%"></th>
				</tr>
			</thead>
			<tbody>
				<tr wicket:id="item">
					<td>
						<a wicket:id="nameLink"><wicket:container wicket:id="name"></wicket:container></a>
					</td>
					<td wicket:id="description"></td>
					<td wicket:id="actionButtons" class="table-actions"></td>
				</tr>
			</tbody>
			<tfoot>
				<tr class="empty-list" wicket:id="emptyList">
					<td colspan="3"><wicket:message key="administration.usergroup.noGroups" /></td>
				</tr>
			</tfoot>
		</table>
	</wicket:extend>
</html>