<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
	<wicket:panel>
		<div class="footer-links pull-right">
			<wicket:container wicket:id="openWide" />
			&nbsp;&nbsp;&middot;&nbsp;&nbsp; <a wicket:id="aboutLink"><wicket:message key="footer.links.about" /></a>
			<wicket:container wicket:id="gitHubProjectContainer">
				&nbsp;&nbsp;&middot;&nbsp;&nbsp; <wicket:container wicket:id="gitHubProject" />
			</wicket:container>
			&nbsp;&nbsp;&middot;&nbsp;&nbsp; <wicket:container wicket:id="twitter" />
			&nbsp;&nbsp;&middot;&nbsp;&nbsp; <a wicket:id="contactUsLink"><wicket:message key="footer.links.contactUs" /></a>
		</div>
		
		<img src="static/application/icons/openwide-logo.png" width="173" height="50" alt="Open Wide" />
	</wicket:panel>
</html>
