<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
	<wicket:panel>
		<div class="footer-links pull-right hidden-sm hidden-xs">
			<wicket:container wicket:id="smile" />
			&nbsp;&nbsp;&middot;&nbsp;&nbsp; <a wicket:id="aboutLink"><wicket:message key="footer.links.about" /></a>
			<wicket:container wicket:id="gitHubProjectContainer">
				&nbsp;&nbsp;&middot;&nbsp;&nbsp; <wicket:container wicket:id="gitHubProject" />
			</wicket:container>
			&nbsp;&nbsp;&middot;&nbsp;&nbsp; <wicket:container wicket:id="twitter" />
			&nbsp;&nbsp;&middot;&nbsp;&nbsp; <a wicket:id="contactUsLink"><wicket:message key="footer.links.contactUs" /></a>
		</div>

		<a wicket:id="smileLink">
			<img src="static/application/icons/smile-logo.svg" height="75" alt="Smile" />
		</a>
	</wicket:panel>
</html>
