<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
	<wicket:panel>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6">
					<div class="row statistics-line">
						<div class="col-xs-12">
							<span class="label label-default"><strong><wicket:message key="home.statistics.mostFollowedArtifacts" /></strong></span>
						</div>
					</div>
					<div wicket:id="mostFollowedArtifacts" class="row statistics-line">
							<div class="col-xs-6"><a class="label label-white" wicket:id="artifactId" /></div>
							<div class="col-xs-3"><span class="badge pull-right" wicket:id="followersCount" /></div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="row statistics-line">
						<div class="col-xs-12">
							<span class="label label-default"><strong><wicket:message key="home.statistics.recentReleases" /></strong></span>
						</div>
					</div>
					<div wicket:id="recentReleases" class="row statistics-line">
						<div class="col-xs-9"><a class="label label-white" wicket:id="artifactId" /></div>
						<div class="col-xs-3"><span class="pull-right" wicket:id="version" /></div>
					</div>
				</div>
			</div>
		</div>
	</wicket:panel>
</html>
