<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<form class="form-inline" wicket:id="form">
		<div class="input-group">
			<input type="text" class="form-control" wicket:id="searchInput" wicket:message="placeholder:administration.artifact.search"/>
			<div class="input-group-btn">
				<button wicket:id="submit" class="btn btn-primary" type="submit">
					<i class="fa fa-filter"></i>
					<wicket:message key="common.action.filter" />
				</button>
			</div>
		</div>
	</form>
	<div class="clear"></div>
</wicket:panel>
</html>