form {
	margin-bottom: 18px;

	.input-group {
		margin-bottom: 0px;
	}
}

.input-group {
	margin-bottom: 18px;
}

.view-field {
	padding: 4px 0px;
}

.check-list {
	padding-top: 5px;
	width: 200px;
	
	.check-item {
		padding-bottom: 4px;
		
		.check-label {
			float:left;
		}
		
		.check-icon {
			float:right;
		}
		
		.check-input {
			float:right;
		}
	}
}

// Champs obligatoires
.form-horizontal .form-group .control-label.required:before {
	content: "* ";
	color: #FF0000;
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
	color: #b94a48;
	border-color: #ee5f5b;
	&:focus {
		border-color: darken(#ee5f5b, 10%);
		@shadow: 0 0 6px lighten(#ee5f5b, 20%);
		.box-shadow(@shadow);
	}
}