.navbar .nav > li > a {
	padding: 8px 15px;
	margin: 5px 5px 5px 0;
	text-shadow: none;
	font-size: 14px;
	font-weight: bold;
}

.navbar .nav .dropdown-toggle .caret {
	margin-top: 6px;
}

.navbar .user-menu {
	margin-top: 6px;
}