<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<button wicket:id="follow" class="btn btn-success btn-xs btn-icon-only" type="button"
			wicket:message="title:common.action.follow">
		<span class="fa fa-fw fa-star" />
	</button>
	<button wicket:id="deprecated" class="btn btn-warning btn-xs btn-icon-only" type="button">
		<span class="fa fa-fw fa-thumbs-o-down" />
	</button>
	<button wicket:id="unfollow" class="btn btn-danger btn-xs btn-icon-only" type="button"
			wicket:message="title:common.action.unfollow">
		<span class="fa fa-fw fa-star-o" />
	</button>
	<span wicket:id="registerTooltip">
		<i class="fa fa-fw fa-question-circle" wicket:message="title:artifact.follow.unregistered" />
	</span>
</wicket:panel>
</html>