<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<button wicket:id="follow" class="btn btn-success btn-mini btn-icon-only" type="button"
			wicket:message="title:common.action.follow">
		<span class="icon-star icon-white" />
	</button>
	<button wicket:id="deprecated" class="btn btn-warning btn-mini btn-icon-only" type="button">
		<span class="icon-thumbs-down icon-white" />
	</button>
	<button wicket:id="unfollow" class="btn btn-danger btn-mini btn-icon-only" type="button"
			wicket:message="title:common.action.unfollow">
		<span class="icon-star-empty icon-white" />
	</button>
</wicket:panel>
</html>