<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<a wicket:id="changelogLink" target="_blank">
		<i class="icon-list-alt" wicket:message="title:artifact.versions.changelogLink"></i>
	</a>
	<a wicket:id="releaseNotesLink" target="_blank">
		<i class="icon-list" wicket:message="title:artifact.versions.releaseNotesLink"></i>
	</a>
	<a wicket:id="announceLink" target="_blank">
		<i class="icon-bullhorn" wicket:message="title:artifact.versions.announceLink"></i>
	</a>
	<a wicket:id="mavenCentralLink" target="_blank">
		<i class="icon-share" wicket:message="title:artifact.versions.detailsLink"></i>
	</a>
</wicket:panel>
</html>