<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<h2>
		<wicket:message key="artifact.description.informations" />
	</h2>

	<!-- Deprecation popup -->
	<div wicket:id="deprecationPopup"></div>
	
	<!-- Edit artifact version popup -->
<!-- 	<div wicket:id="artifactVersionPopup"></div> -->
	
	<div class="key-value-list">
		<div class="line row-fluid">
			<div class="line-label span4"><wicket:message key="artifact.groupId" /></div>
			<div class="line-value span8">
				<wicket:container wicket:id="groupId" />
				<a wicket:id="groupLink" target="_blank" class="pull-right">
					<span class="icon-share" wicket:message="title:artifact.follow.mavenCentralLink" />
				</a>
			</div>
		</div>
		<div class="line row-fluid">
			<div class="line-label span4"><wicket:message key="artifact.artifactId" /></div>
			<div class="line-value span8">
				<wicket:container wicket:id="artifactId" />
				<a wicket:id="artifactLink" target="_blank" class="pull-right">
					<span class="icon-share" wicket:message="title:artifact.follow.mavenCentralLink" />
				</a>
			</div>
		</div>
		<div class="line row-fluid">
			<div class="line-label span4"><wicket:message key="artifact.deprecationStatus" /></div>
			<div class="line-value span8">
				<wicket:container wicket:id="deprecationStatus" />
				<button wicket:id="editDeprecation" class="btn btn-primary btn-icon-only btn-mini pull-right" type="button"
						wicket:message="title:artifact.deprecation.editDeprecation">
					<span class="icon-pencil icon-white"></span>
				</button>
			</div>
		</div>
		<wicket:enclosure child="deprecates">
			<div class="line row-fluid">
				<div class="line-label span4"><wicket:message key="artifact.deprecates" /></div>
				<div class="line-value span8">
					<div wicket:id="deprecates">
						<a wicket:id="deprecatedArtifactLink">
							<span wicket:id="deprecatedArtifact" />
						</a>
					</div>
				</div>
			</div>
		</wicket:enclosure>
	</div>
	<h2 style="margin-top:10px;">
		<wicket:message key="artifact.versions" />
	</h2>
	
	<wicket:enclosure child="artifactVersions">
		<table class="table table-striped table-bordered artifact-version-list">
			<thead>
				<tr>
					<th class="version"><wicket:message key="artifact.versions.name" /></th>
					<th class="lastUpdate"><wicket:message key="artifact.versions.lastUpdateDate" /></th>
					<th class="links"><wicket:message key="artifact.versions.link" /></th>
<!-- 					<th class="table-actions"></th> -->
				</tr>
			</thead>
			<tbody>
				<tr wicket:id="artifactVersions">
					<td class="version" wicket:id="version" />
					<td class="lastUpdate" wicket:id="lastUpdateDate"></td>
					<td class="links">
						<a wicket:id="changelogLink" target="_blank">
							<i class="icon-list-alt" wicket:message="title:artifact.versions.changelogLink"></i>
						</a>
						<a wicket:id="releaseNotesLink" target="_blank">
							<i class="icon-list" wicket:message="title:artifact.versions.releaseNotesLink"></i>
						</a>
						<a wicket:id="announceLink" target="_blank">
							<i class="icon-bullhorn" wicket:message="title:artifact.versions.announceLink"></i>
						</a>
						<a wicket:id="mavenCentralLink" target="_blank">
							<i class="icon-share" wicket:message="title:artifact.versions.detailsLink"></i>
						</a>
					</td>
<!-- 					<td class="table-actions"> -->
<!-- 						<button wicket:id="edit" class="btn btn-primary btn-mini btn-icon-only" type="button" -->
<!-- 								wicket:message="title:common.action.update"> -->
<!-- 							<span class="icon-pencil icon-white" /> -->
<!-- 						</button> -->
<!-- 					</td> -->
				</tr>
			</tbody>
		</table>
	</wicket:enclosure>
	<div wicket:id="emptyList"><wicket:message key="common.emptyList" /></div>
</wicket:panel>
</html>