<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<div wicket:id="deprecatedContainer" class="subtitle subtitle-warning">
		<span wicket:id="deprecated" />
		<div wicket:id="relatedArtifactContainer" style="display:inline">
			<wicket:message key="artifact.description.deprecated.related.start" />
			<a wicket:id="relatedArtifactLink"><wicket:container wicket:id="relatedArtifact" /></a><wicket:message key="artifact.description.deprecated.related.end" />
		</div>
	</div>
</wicket:panel>
</html>