<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
	<wicket:panel>
		<h2 wicket:id="title" />
		
		<div class="well well-small"><wicket:message key="artifact.rules.informations" /></div>
		
		<div class="portfolio">
			<table class="table table-striped table-bordered artifact-rule-list">
				<thead>
					<tr>
						<th class="rule"><wicket:message key="artifact.rules.field.regex" /></th>
						<th class="type"><wicket:message key="artifact.rules.field.type" /></th>
						<th class="table-actions"></th>
					</tr>
				</thead>
				<tbody>
					<tr wicket:id="rules">
						<td class="rule">
							<span wicket:id="regex" />
						</td>
						<td class="type">
							<span wicket:id="notifyMatches" />
						</td>
						<td class="table-actions">
							<a class="btn btn-xs btn-primary btn-icon-only" wicket:id="editRuleLink"
								wicket:message="title:artifact.rules.edit,title:artifact.rules.edit">
								<i class="fa fa-fw fa-pencil"></i>
							</a>
							<a class="btn btn-xs btn-danger btn-icon-only" wicket:id="deleteLink"
								wicket:message="title:artifact.rules.delete,title:artifact.rules.delete">
								<i class="fa fa-fw fa-trash"></i>
							</a>
						</td>
					</tr>
					<tr class="empty-list" wicket:id="emptyList">
						<td colspan="3"><wicket:message key="artifact.rules.noRules" /></td>
					</tr>
				</tbody>
			</table>
			<form wicket:id="addRuleForm" class="form-inline">
				<div class="pull-right">
					<input type="text" class="form-control" wicket:id="regexInput" wicket:message="title:artifact.rules.add.tooltip" style="width:170px" />
					<select wicket:id="type" />
					<button class="btn btn-success btn-sm" wicket:id="addRuleLink" type="submit">
						<i class="fa fa-fw fa-plus"></i>
						<wicket:message key="artifact.rules.add" />
					</button>
				</div>
				<div class="clearfix"></div>
			</form>
		</div>
		
		<div wicket:id="demoPanel"></div>
		
		<!-- Update rule popup -->
		<div wicket:id="ruleUpdatePopupPanel"></div>
	</wicket:panel>
</html>